In [24]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import os
from PIL import Image
from keras.preprocessing.image import ImageDataGenerator
from matplotlib import pyplot as plt
import tensorflow as tf

# Step 1: Load and Prepare Data
# Assume you have a CSV file named 'data.csv' with columns 'pixels' and 'label'.
dataset = pd.read_csv('data.csv')
dataset['pixels']=dataset['pixels'].apply(lambda x: np.array(x.split(),dtype='float32'))
y = np.array(data['gender'])
data.head()

# scaler = StandardScaler()
# X = scaler.fit_transform(X)

# # Step 3: Split Data
# X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
# X_valid, X_test, y_valid, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# # Step 4: Build a Model
# model = keras.Sequential([
#     keras.layers.Input(shape=(X_train.shape[1],)),
#     keras.layers.Dense(128, activation='relu'),
#     keras.layers.Dense(64, activation='relu'),
#     keras.layers.Dense(10, activation='softmax')  # Assuming 10 classes
# ])

# model.compile(optimizer='adam',
#               loss='sparse_categorical_crossentropy',
#               metrics=['accuracy'])

# # Step 5: Train the Model
# model.fit(X_train, y_train, epochs=10, validation_data=(X_valid, y_valid))

# # Step 6: Evaluate the Model
# y_pred = model.predict(X_test)
# y_pred_labels = np.argmax(y_pred, axis=1)
# accuracy = accuracy_score(y_test, y_pred_labels)
# report = classification_report(y_test, y_pred_labels)

# print(f"Accuracy: {accuracy}")
# print("Classification Report:")
# print(report)

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...

In [25]:
dataset.shape

(23705, 5)

In [18]:
dataset.isnull().sum()

age          0
ethnicity    0
gender       0
img_name     0
pixels       0
dtype: int64

In [22]:
print(sum(dataset.gender==0))##fairly balanced
print(sum(dataset.gender==1))

12391
11314

In [26]:
dataset['pixels']=dataset['pixels'].apply(lambda x: x.reshape(48,48,1))

In [27]:
dataset.shape

(23705, 5)

In [28]:
dataset['pixels']=dataset['pixels'].apply(lambda x: x/255 )##scale the pixels

In [29]:
dataset.age.unique()

array([  1,  10, 100, 101, 103, 105,  11, 110, 111, 115, 116,  12,  13,
        14,  15,  16,  17,  18,  19,   2,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,   3,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,   4,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,
         5,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,   6,  60,
        61,  62,  63,  64,  65,  66,  67,  68,  69,   7,  70,  71,  72,
        73,  74,  75,  76,  77,  78,  79,   8,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,   9,  90,  91,  92,  93,  95,  96,  99],
      dtype=int64)

In [30]:
dataset

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,"[[[0.5058824], [0.5019608], [0.5019608], [0.49..."
1,1,2,0,20161219222752047.jpg.chip.jpg,"[[[0.6431373], [0.2901961], [0.43529412], [0.6..."
2,1,2,0,20161219222832191.jpg.chip.jpg,"[[[0.2627451], [0.27450982], [0.2784314], [0.2..."
3,1,2,0,20161220144911423.jpg.chip.jpg,"[[[0.75686276], [0.77254903], [0.7764706], [0...."
4,1,2,0,20161220144914327.jpg.chip.jpg,"[[[0.7921569], [0.8039216], [0.81960785], [0.8..."
...,...,...,...,...,...
23700,99,0,1,20170120221920654.jpg.chip.jpg,"[[[0.49803922], [0.39215687], [0.36862746], [0..."
23701,99,1,1,20170120134639935.jpg.chip.jpg,"[[[0.09019608], [0.10980392], [0.1254902], [0...."
23702,99,2,1,20170110182418864.jpg.chip.jpg,"[[[0.23137255], [0.19607843], [0.14509805], [0..."
23703,99,2,1,20170117195405372.jpg.chip.jpg,"[[[0.1764706], [0.42352942], [0.47058824], [0...."
23704,99,0,1,20170110182052119.jpg.chip.jpg,"[[[0.6117647], [0.6313726], [0.627451], [0.647..."

In [32]:
image = []
gender = []
for i,x in enumerate(dataset.pixels):
#     image.append(x)
#     gender.append()
    print(x,i)
    break

NameError: name 'pixels' is not defined

In [13]:
from PIL import Image
import numpy as np

# Define the dimensions of the image
array = np.array(X[9000])
print(y[9000])

# Reshape the array into a two-dimensional array
array = array.reshape((48, 48))

# Convert the numpy array into an image using Pillow
image = Image.fromarray(array.astype(np.uint8))

# Save the image as a JPEG file
image.show()

0